<!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand page-scroll" style="margin-top: -12px">
                    <img src="assets/img/om5.png" width="70px" height="70px">
                  </a>
                <a class="navbar-brand page-scroll am" style="margin-top: 15px">
                  Vedanta<br/><p style="color:#FF5733">Institute Visakhapatnam</p></a>
              </div>
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html" class="page-scroll">Home</a></li>
                        <li class="nav-item active"><a routerLink="/about" class="page-scroll">About</a></li>
                        <li><a routerLink="/events" class="page-scroll">Events</a></li>
                        <li><a routerLink="/classes" class="page-scroll">Classes</a></li>
                        <li><a routerLink="/publications" class="page-scroll hidden-sm">Publications</a></li>
                        <li><a href="https://www.vedantaworld.org/press" target="_blank" class="page-scroll hidden-sm">Press</a></li>
                        <li><a routerLink="/contact" class="page-scroll">Contact</a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse --> 
            </div>
          </nav><br/><br/><br/><br/>
          <!-- Get Touch Section -->
          <div id="get-touch">
            <div class="container">
              <div class="container">
                    <div class="text-center"></div><br/><br/>
                    <h3 class="text-center" style="color: black">Dynamism in action and Peace of mind.Clarity in thinking.</h3>
                </div>
            </div>
          </div>
          <!-- About Section -->
          <div id="about">
            <div class="container" style="margin-top: -80px;">
                <div class="section-title">
                    <h2>Vedanta Institute Visakhapatnam</h2>
                    <p><b>It is a non-profit public charitable trust registered in Andhra Pradesh. It was established under the guidance of A. Parthasarathy. Mainly, It is founded for the purpose of harmonizing the physical, emotional, intellectual and spiritual aspects of human beings, without any distinction of colour, race or religion. The trust particularly focuses on the young minds, motivating them to work for an ideal, beyond selfish interests. Above all, lead one to the ultimate goal of Self-Realization.</b></p>
                   <p><b>The trust organizes annual public discourses on Vedanta in order to spread the knowledge of life and living for the upliftment of the society. These discourses are conducted by Swami Parthasarathy, Sushilaji (a senior disciple of A. Parthasarathy). The discourses are attended by large audiences from a cross section of society. The objectives of the trust are met through donations made to it. All donations are exempt from income tax under section 80G of the income tax act.</b></p>
                  </div>
              
              <div class="row sus">
                <div class="col-xs-12 col-md-6"> <img src="assets/img/sh1.png" class="img-responsive" alt=""></div>
                <div class="col-xs-12 col-md-6">
                  <div class="about-text">
                    <h2>Sushilaji</h2>
                    <p><b>Sushilaji is a guest teacher of vedanta in Visakhapatnam. She is a senior disciple of the internationally renowned philosopher Shri A Parthasarathy. An MSc in Biochemistry from Mumbai University, Sushilaji was a research officer for Johnson and Johnson. During the course of her work and exposure to the teachings of Shri A Parthasarathy, she realized that although science had tremendously improved the world in the past century, the quality of life had actually deteriorated. Sushilaji has since spent three decades in the study, research and exposition ofVedanta. She has addressed large public audiences and premier organizations on ancient spiritual texts. Sushilaji is a Trustee of the Vedanta Cultural Foundation that runs the Vedanta Academy, a unique institution of higher learning near Mumbai.</b></p>
                  </div>
                </div>
              </div><br/>
              <div class="row">
                  <div class="col-xs-12 col-md-6"> <img src="assets/img/sat.png" class="img-responsive" alt=""></div>
                  <div class="col-xs-12 col-md-6">
                    <div class="about-text">
                      <h2>S.V.Satyanarayana</h2>
                      <p><b>Mr. S.V.Satyanarayana is a local teacher of vedanta in Visakhapatnam. He is an engineering graduate from AndhraUniversity. After a distinguished corporate career in India and UK(abroad)he took up to intense study and research in Vedanta Philosophy under the direct guidance of his spiritual guru A. Parthasarathy. He has spent five years, full-time, from 2001 to 2006, in the Vedanta Academy, founded by the Swamiji, near Lonavla, 108 kms from Mumbai. He is the resource of Vedanta Institute Visakhapatnam a charitable trust dedicated for the development of overall personality of human beings to gain peace and prosperity in their lives. Since 2006 he is residing in Visakhapatnam holding workshops for the corporates on various management topices, personality development sessions for college and school students. He is also conducting public discourses and study classes on Bhagavad Gita and other scriptural texts.</b></p>
                    </div>
                  </div>
                </div><br/>
                <div class="row">
                    <div class="col-xs-12 col-md-6"> <img src="assets/img/aru.png" class="img-responsive" alt=""></div>
                    <div class="col-xs-12 col-md-6">
                      <div class="about-text">
                        <h2>S.Aruna</h2>
                        <p><b>
                            S.Aruna is a local teacher of vedanta in Visakhapatnam. She is a post graduate in literature from the Andhra University. After a distinguished corporate career she took to intense study and research in Vedanta Philosophy under the direct guidance of her spiritual guru A. Parthasarathy in the VedantaAcademy, founded by the Swamiji, near Lonavla, 108 kms from Mumbai. She is the resource of Vedanta Institute Visakhapatnam a charitable trust dedicated for the development of overall personality of human beings to gain peace and prosperity in their lives. Since 2006 she is residing in Visakhapatnam holding workshops for the corporates on various management topics, personality development sessions for college and school students. She is also conducting public discourses and study classes on Bhagavad Gita and other scriptural texts.</b></p>
                      </div>
                    </div>
                  </div>
               
            </div>
          </div>

          <!-- Footer Section -->
    
          <footer id="footer" class="footer">
            <div class="container text-center">
        
           
          <div class="row">
            <div class="col-md-4">
              <h4 style="color: #FFCC00;">Get In Touch With Us!</h4><br/>
              <p>Touch to our mailing list to get the updates to your email inbox.</p>
              
              <a class="btn btn-custom btn-lg" href="mailto:info.vedantainstitute@gmail.com">Send Mail</a>
              
             </div>
           
           
      <div class="col-md-4">
             <h4 style="color: #FFCC00;">Address</h4><br/>
             <p>Vedanta Institute Visakhapatnam</p>
                  <p> F-403, Siri Enclave, Annam Raju Nagar<br>
                    Opp Asta Lakshmi Temple<br>
                    Madhurawada, Visakhapatnam<br/>
                    530048.
               </p>
             </div>
      <div class="col-md-4">
             <h4 style="color: #FFCC00;">Contact Us</h4><br/>
             <i class="fa fa-phone"></i> +91 9948150911<br>
             <i class="fa fa-phone"></i> +91 9666007932<br>
                  <p><i class="fa fa-envelope"></i> <a href="mailto:info.vedantainstitute@gmail.com" style="text-decoration: none;padding: 1em">info.vedantainstitute@gmail.com</a></p>
             </div>
           
          </div>
      
            
              <!-- End newsletter-form -->
              <ul class="social-links">
                <li><a href="https://twitter.com/vedantaworld" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li><a href="https://www.facebook.com/Vedantaworld/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li><a href="https://www.youtube.com/user/VedantaworldTV" target="_blank"><i class="fa fa-youtube fa-fw"></i></a></li>
                <li><a href="https://www.instagram.com/vedanta.world/" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
              
              </ul>
              Copyright &copy;2020 All rights reserved | <a href="index.html" style="color: #FFCC00;">Vedanta Institute Visakhapatnam</a> | Developed By <a href="https://venugopalboddu.blogspot.com/" style="color: #FFCC00;" target="_blank">Venugopal Boddu</a>
            </div>
          </footer>