@media (max-width: 375px) {
  .sus {
    margin-top: -88px;
  }
  .footer {
    margin-top: -91px;
  }
  .am {
    position: relative;
    bottom: 42px;
    left: 71px;
  }
}

@media (max-width: 425px) {
  .sus {
    margin-top: -88px;
  }
  .footer {
    margin-top: -91px;
  }
  .am {
    position: relative;
    bottom: 45px;
    left: 77px;
  }
}
