.responsive-image {
  width: 1076px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 375px) {
  .footer {
    margin-top: -91px;
  }
  .am {
    position: relative;
    bottom: 45px;
    left: 77px;
  }
}
@media (max-width: 425px) {
  .footer {
    margin-top: -91px;
  }
  .am {
    position: relative;
    bottom: 45px;
    left: 77px;
  }
}
