<div class="about-text">
    <p><b style="color: #FF5733">All donations to Vedanta Institute Visakhapatnam are exempt from income tax under section 80G of the income tax act, 1961.</b></p>
    <h3>Account Details</h3>
    <div class="list-style">
      <div class="col-lg-6 col-sm-6 col-xs-12">
        <ul>
          <li><b>Account No: 919010000239699</b></li>
          <li><b>Name of Account: VEDANTA INSTITUTE VISAKHAPATNAM</b></li>
          <li><b>Ifsc Code: UTIB0000554</b></li>
          <li><b>Bank: Axis Bank,Vizag</b></li>
        </ul>
      </div>
    </div>
  </div>
  <br/><br/>