<!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" style="margin-top: -12px">
              <img src="http://vedantavisakhapatnam.org/img/om5.png" width="70px" height="70px">
            </a>
          <a class="navbar-brand page-scroll" style="margin-top: 15px">
            Vedanta<br/><p style="color:#FF5733">Institute Visakhapatnam</p></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item active"><a routerLink="/home" class="page-scroll">Home</a></li>
                  <li><a routerLink="/about" class="page-scroll">About</a></li>
                  <li><a routerLink="/events" class="page-scroll">Events</a></li>
                  <li><a routerLink="/classes" class="page-scroll">Classes</a></li>
                  <li><a routerLink="/publications" class="page-scroll hidden-sm">Publications</a></li>
                  <li><a href="https://www.vedantaworld.org/press" target="_blank" class="page-scroll hidden-sm">Press</a></li>
                  <li><a routerLink="/contact" class="page-scroll">Contact</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </div>
    </nav><br/><br/><br/><br/>
    <!-- Slideshow -->
    <div class="highlighted">  <div class="region region-highlighted">
      <section id="block-md-slider-1" class="block block-md-slider clearfix">
         <div id="md-slider-1" class="md-slide-items" data-thumb-width='100' data-thumb-height='75'>
         <div class="md-slide-item slide-2" data-timeout='6000' data-transition="slit-vertical-up" data-thumb='http://demos.doublemthemes.com/corporatex/corporatex3/sites/default/files/styles/md_slider_1_thumb/public/photodune-5853429-golden-gate-bridge-san-francisco-m.jpg?itok=Kf5pcNdl'>
      <div class="md-mainimg"><img src="assets/sites/default/files/s1.jpg" alt="" /></div>
      <div class="md-objects">
            <div class="md-object md-layer-1-1-0" data-x='0' data-y='149' data-width='900' data-height='70' data-start='300' data-stop='11800' data-easein='bounceInRight' data-easeout='bounceOutLeft'>
                         <br/><br/><br/><br/><br/> <img src="assets/sites/default/files/qu4.png"  alt="6.png" /> 
              </div>
          </div>
  </div>
  <div class="md-slide-item slide-2" data-timeout='6000' data-transition="slit-vertical-up" data-thumb='http://demos.doublemthemes.com/corporatex/corporatex3/sites/default/files/styles/md_slider_1_thumb/public/photodune-5853429-golden-gate-bridge-san-francisco-m.jpg?itok=Kf5pcNdl'>
      <div class="md-mainimg"><img src="assets/sites/default/files/ban3.jpg" width="1349px" height="500px" alt="" /></div>
      <div class="md-objects">
           
            <div class="md-object md-layer-1-1-0" data-x='0' data-y='139' data-width='500' data-height='75' data-start='300' data-stop='11800' data-easein='bounceInRight' data-easeout='bounceOutLeft'>
                          <br/><br/><br/><img src="assets/sites/default/files/qu3.png" alt="6.png" />
              
              </div>
        
        <div class="md-object md-layer-1-1-1" data-x='568' data-y='110' data-width='330' data-height='360' data-start='300' data-stop='11800' data-easein='bounceInLeft' data-easeout='bounceOutRight'>
                          <img src="assets/sites/default/files/sus.jpg" alt="7.png" />
              </div>
          </div>
  </div>
                  
  <div class="md-slide-item slide-2" data-timeout='5000' data-transition="slit-vertical-up" data-thumb='http://demos.doublemthemes.com/corporatex/corporatex3/sites/default/files/styles/md_slider_1_thumb/public/photodune-5853429-golden-gate-bridge-san-francisco-m.jpg?itok=Kf5pcNdl'>
      <div class="md-mainimg"><img src="assets/sites/default/files/s2.jpg" alt="" /></div>
      <div class="md-objects">
           
            <div class="md-object md-layer-1-1-0" data-x='0' data-y='149' data-width='500' data-height='55' data-start='300' data-stop='11800' data-easein='bounceInRight' data-easeout='bounceOutLeft'>
                          <br/><br/><br/><img src="assets/sites/default/files/qu1.png" alt="6.png"/>
              <img src="assets/sites/default/files/qu2.png" alt="6.png" />
              </div>
        
        <div class="md-object md-layer-1-1-1" data-x='568' data-y='148' data-width='207' data-height='208' data-start='300' data-stop='11800' data-easein='bounceInLeft' data-easeout='bounceOutRight'>
                          <img src="assets/sites/default/files/ve.PNG" alt="7.png"/>
              </div>
          </div>
  </div>
      </div>	
  </section>
    </div>
  </div>
   <!-- Slideshow -->    
       
    <!-- Services Section -->
    <div id="services" style="margin-top: -200px">
      <div class="container" id="car-types">
        <div class="section-title">
          <h2>What is Vedanta?</h2>
          <p><b>Vedanta is derived from two words Veda – Knowledge and Anta – End. Vedanta means the end of knowledge. This ancient philosophy presents the eternal principles of life and living. It programmes a life of mental peace combined with dynamic action in the world. Equips one with clarity of intellect to deal with the challenges of life. Above all its philosophy leads one to the ultimate goal of Self-Realisation.</b></p>
          <p class="text-center"><strong>--A. Parthasarathy</strong></p>
        </div>
        
        <div class="section-title">
          <h2>Vedanta Institute Visakhapatnam</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="l_news_item">
                    <div class="l_news_img"><img class="img-fluid" src="http://vedantavisakhapatnam.org/img/blog/l-news/vz3.JPG" alt=""></div>
              </div>
              <div class="single-car">
                      <h3 style="color: #FF5733">About Us</h3>
                <p><b>Vedanta Institute Visakhapatnam is a non-profit public charitable trust registered in Andhra Pradesh.</b></p>
                <a class="btn btn-custom" routerLink="/about">Read More</a> 
              </div>
            </div>
            <div class="col-md-4">
                <div class="l_news_item">
                    <div class="l_news_img"><img class="img-fluid" src="http://vedantavisakhapatnam.org/img/blog/l-news/pub.jpg" alt=""></div>
              </div>
              <div class="single-car">
                <h3 style="color: #FF5733">Publications</h3>
                <p><b>Over 60 years of research, A. Parthasarathy has designed a number of publications on Vedanta.</b></p>
                <a class="btn btn-custom" routerLink="/publications">Read More</a>
              </div>
            </div>
            <div class="col-md-4">
                <div class="l_news_item">
                    <div class="l_news_img"><img class="img-fluid" src="http://vedantavisakhapatnam.org/img/blog/l-news/cls.jpg" alt=""></div>
              </div>
              <div class="single-car"> 
                <h3 style="color: #FF5733">Classes</h3>
                <p><b>The classes are conducted by S.V.Satyanarayana and S.Aruna
                    (disciples of A. Parthasarathy).</b></p>
                    <a class="btn btn-custom" routerLink="/classes">Read More</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    
    <!-- Call Reservation Section -->
    <div id="call-reservation" class="text-center" style="margin-top: -180px">
      <div class="container">
        <h2 style="color: black">Want to know any information? Call <strong>+91 9948150911</strong></h2>
      </div>
    </div>
    
    <!-- Footer Section -->
    <footer id="footer" class="footer">
    <div class="container text-center">
  
    <div class="row">
      <div class="col-md-4">
        <h4 style="color: #FFCC00;">Get In Touch With Us!</h4><br/>
        <p>Touch to our mailing list to get the updates to your email inbox.</p>
        <a class="btn btn-custom btn-lg" href="mailto:info.vedantainstitute@gmail.com">Send Mail</a> 
       </div> 
<div class="col-md-4">
       <h4 style="color: #FFCC00;">Address</h4><br/>
       <p>Vedanta Institute Visakhapatnam</p>
            <p> F-403, Siri Enclave, Annam Raju Nagar<br>
              Opp Asta Lakshmi Temple<br>
              Madhurawada, Visakhapatnam<br/>
              530048.
         </p>
       </div>
<div class="col-md-4">
       <h4 style="color: #FFCC00;">Contact Us</h4><br/>
       <i class="fa fa-phone"></i> +91 9948150911<br>
       <i class="fa fa-phone"></i> +91 7661901956<br>
            <p><i class="fa fa-envelope"></i> <a href="mailto:info.vedantainstitute@gmail.com" style="text-decoration: none;padding: 1em">info.vedantainstitute@gmail.com</a></p>
       </div>
     
    </div>

      
        <!-- End newsletter-form -->
        <ul class="social-links">
          <li><a href="https://twitter.com/vedantaworld" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="https://www.facebook.com/Vedantaworld/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li><a href="https://www.youtube.com/user/VedantaworldTV" target="_blank"><i class="fa fa-youtube fa-fw"></i></a></li>
          <li><a href="https://www.instagram.com/vedanta.world/" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
        
        </ul>
        Copyright &copy;2020 All rights reserved | <a href="index.html" style="color: #FFCC00;">Vedanta Institute Visakhapatnam</a> | Developed By <a href="https://venugopalboddu.blogspot.com/" style="color: #FFCC00;" target="_blank">Venugopal Boddu</a>
      </div>
    </footer>