<!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand page-scroll" style="margin-top: -12px">
                    <img src="assets/img/om5.png" width="70px" height="70px">
                  </a>
                <a class="navbar-brand page-scroll am" href="#page-top" style="margin-top: 15px">
                  Vedanta<br/><p style="color:#FF5733">Institute Visakhapatnam</p></a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="index.html" class="page-scroll">Home</a></li>
                  <li><a routerLink="/about" class="page-scroll">About</a></li>
                  <li><a routerLink="/events" class="page-scroll">Events</a></li>
                  <li class="nav-item active"><a routerLink="/classes" class="page-scroll">Classes</a></li>
                  <li><a routerLink="/publications" class="page-scroll hidden-sm">Publications</a></li>
                  <li><a href="https://www.vedantaworld.org/press" target="_blank" class="page-scroll hidden-sm">Press</a></li>
                  <li><a routerLink="/contact" class="page-scroll">Contact</a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse --> 
            </div>
          </nav><br/><br/><br/><br/>
          <!-- Get Touch Section -->
          <div id="get-touch">
            <div class="container">
              <div class="container">
                    <div class="text-center"></div><br/><br/>
                    <h3 class="text-center" style="color: black">Lawson's bay colony</h3>
                </div>
            </div>
          </div>
        
          <!-- Contact Section -->
          <div id="contact">
            <div class="container">
              <div class="col-md-6">
                <div class="row">
                  <div class="video-container"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9038.839033318143!2d83.33458337015433!3d17.72749560503021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3944a7da9e8883%3A0x581a890d4371491e!2sLawsons%20Bay%20Colony%2C%20Pedda%20Waltair%2C%20Visakhapatnam%2C%20Andhra%20Pradesh%20530017!5e0!3m2!1sen!2sin!4v1568026498774!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1 contact-info" style="margin-top: -15px">
                <div class="contact-item">
                      <div class="section-title">
                              <h2 style="color:#FF5733">Bhaja Govindam (Telugu)</h2>
                            </div>
                          <p><b>Monday</b></p>
                          <p><strong>Time:</strong> 10:00 am - 11:15 am</p>
                          <p><strong>Address:</strong> Sampath Vinayaka bay residency, D/no: 4-68-1, Lawson's bay colony.</p>
                          <p><strong>Contact:</strong> Anuradha | 9391757788</p>
                          <p><strong>Conducted by:</strong> Smt. Aruna</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Footer Section -->
      
          <footer id="footer" class="footer">
          <div class="container text-center">
          <div class="row">
            <div class="col-md-4">
              <h4 style="color: #FFCC00;">Get In Touch With Us!</h4><br/>
              <p>Touch to our mailing list to get the updates to your email inbox.</p>
              
              <a class="btn btn-custom btn-lg" href="mailto:info.vedantainstitute@gmail.com">Send Mail</a>
              
             </div>
           
           
      <div class="col-md-4">
             <h4 style="color: #FFCC00;">Address</h4><br/>
             <p>Vedanta Institute Visakhapatnam</p>
                  <p> F-403, Siri Enclave, Annam Raju Nagar<br>
                    Opp Asta Lakshmi Temple<br>
                    Madhurawada, Visakhapatnam<br/>
                    530048.
               </p>
             </div>
      <div class="col-md-4">
             <h4 style="color: #FFCC00;">Contact Us</h4><br/>
             <i class="fa fa-phone"></i> +91 9948150911<br>
             <i class="fa fa-phone"></i> +91 9666007932<br>
                  <p><i class="fa fa-envelope"></i> <a href="mailto:info.vedantainstitute@gmail.com" style="text-decoration: none;padding: 1em">info.vedantainstitute@gmail.com</a></p>
             </div>
           
          </div>
      
            
              <!-- End newsletter-form -->
              <ul class="social-links">
                <li><a href="https://twitter.com/vedantaworld" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li><a href="https://www.facebook.com/Vedantaworld/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li><a href="https://www.youtube.com/user/VedantaworldTV" target="_blank"><i class="fa fa-youtube fa-fw"></i></a></li>
                <li><a href="https://www.instagram.com/vedanta.world/" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
              
              </ul>
              Copyright &copy;2020 All rights reserved | <a href="index.html" style="color: #FFCC00;">Vedanta Institute Visakhapatnam</a> | Developed By <a href="https://venugopalboddu.blogspot.com/" style="color: #FFCC00;" target="_blank">Venugopal Boddu</a>
            </div>
          </footer>